<div class="tab-pane fade show" id="adminSidebarJobPostOrderSection">
  <div class="container my-5 bg-white" style="overflow-x: auto">
    <h2 class="py-3"><strong>Job Posts Orders</strong></h2>
    <table class="table table-striped" id="sidebarJobPostOrdersTable">
      <thead>
        <tr class="btn-clr text-center">
          <th scope="col">Create</th>
          <th scope="col">OrderId</th>
          <th scope="col">PostId</th>
          <th scope="col">Buyer</th>
          <th scope="col">Seller</th>
          <th scope="col">Price($)</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% jobPostOrder.forEach(singleOrder => { %>
        <tr class="text-center">
          <th scope="row">
            <%= momentFormatMonthDayYear(singleOrder.createdAt)%>
          </th>
          <td><%= singleOrder.id %> </td>
          <td><%= singleOrder.jobPost._id %> </td>
          <td><%= singleOrder.jobPost.userId._id %></td>
          <td><%= singleOrder.request.requestSender._id %></td>
          <td><%=  singleOrder.request.offerPrice.toFixed(2) %></td>
          <td><span class="btn <%= singleOrder.status ? 'btn-success' : 'btn-danegr' %>"><%= singleOrder.status ? 'complete' : 'incomplete' %></span></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>
