<div id="search" class="container-fluid bg-white">
  <% if (service.length === 0) { %>
  <h3 class="mt-5 pb-5 text-center"><b>Not Found Any Services for: <%= searchItem %></b></h3>
  <% } else {%>
        <div class="mb-5 row">
          <h5 class="col-md-10 text-muted"><b>Search Results for: </b><%= searchItem %></h5>
          <h5 class="col-md-2 text-muted text-md-end"><b><%= service.length %> <%= service.length === 1 ? 'Service' : 'Services'  %> Found</b></h5>
        </div>
  <!-- Start Display Grid All Searched Services -->
  <%- include('.././manageServices/_displayGridService') %>
  <!-- End Display Grid All Searched Services -->
  <% } %>
</div>
