<div id="editService">
  <form
    action="/user/<%=user.username%>/service/<%=service.slug%>/edit?_method=PUT"
    method="POST"
    enctype="multipart/form-data"
  >
    <h1 class="text-center mb-5 text-uppercase title-border">
      Edit Service Details
    </h1>

    <!-- Start Edit Service Form Item -->
    <%- include('_serviceFormItem') %>
    <!-- End Edit Service Form Item -->

    <div class="mb-3">
      <h2 class="text-center my-5 text-uppercase title-border">Thumbnail</h2>
      <label
        id="post-thumbnail-label"
        for="service-thumbnail-image"
        class="form-label"
        style="width: 100%; height: auto"
      >
        <img
          id="thumbnail-image"
          src="/public/uploads/<%= service.thumbnailImage %>"
          alt=" "
          width="100%"
          height="600"
        />
        <span id="thumbnail-image-blackOverlay" class="centered"></span>
        <span id="thumbnail-image-span" class="centered">Change Thumbnail</span>
      </label>

      <input
        class="form-control <%= service.thumbnailImage ? ' d-none' : ' d-block'%>"
        type="file"
        id="service-thumbnail-image"
        name="thumbnailImage"
        accept="image/*"
        onchange="getImage(event, 'thumbnail-image');"
      />
    </div>

    <div class="text-end">
      <button type="submit" class="btn btn-lg btn-clr">Update</button>
    </div>
  </form>
</div>
