<!-- Start Header -->
<%- include('./includes/_header') %>
<!-- End Header -->

<!-- Start Main Nav Bar -->
<%- include('./includes/_mainNavBar') %>
<!-- End Main Nav Bar -->

<div id="myOrder">
  <div class="container bg-white py-5">
    <ul class="nav nav-pills nav-justified mb-3" id="pills-tab">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="pill" href="#pills-getServiceOrder"
          ><b>Get Service Order</b></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#pills-setServiceOrder"
          ><b>Set Service Order</b></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#pills-getJobPostOrder"
          ><b>Get JobPost Order</b></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="pill" href="#pills-setJobPostOrder"
          ><b>Set JobPost Order</b></a
        >
      </li>            
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <!-- GET SERVICE ORDER -->
      <div class="tab-pane fade show active" id="pills-getServiceOrder">
        <%- include('./manageOrders/_getServiceOrderDashBoardTable') %> 
      </div>
      <!-- SET SERVICE ORDER -->
      <div class="tab-pane fade" id="pills-setServiceOrder">
        <%- include('./manageOrders/_setServiceOrderDashBoardTable') %> 
      </div>
      <!-- GET JOBPOST ORDER -->
      <div class="tab-pane fade" id="pills-getJobPostOrder">
        <%- include('./manageOrders/_getJobPostOrderDashboardTable') %> 
      </div>
      <!-- SET JOBPOST ORDER -->
      <div class="tab-pane fade" id="pills-setJobPostOrder">
        <%- include('./manageOrders/_setJobPostOrderDashboardTable') %> 
      </div>      
    </div>
  </div>
</div>

<!-- Start Footer -->
<%- include('./includes/_footer') %>
<!-- End Footer -->
