<div class="container-fluid text-break text-center">
  <% if (!getJobPostOrder.length) { %>
  <h3 class="text-center text-muted my-5">
    <strong>No Orders Available</strong>
  </h3>
  <% } else {%>  
  <table class="table table-striped">
    <thead>
      <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">OrderID</th>
        <th scope="col">Status</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <% for( let getOrderIndex = 0; getOrderIndex < getJobPostOrder.length; getOrderIndex++ ) { %>
      <tr>
        <th scope="row"><%= getOrderIndex+1 %></th>
        <td>
          <a
            href="<%=`/user/${sUser.username}/jobPostOrder/${getJobPostOrder[getOrderIndex]._id}/delivery`%>"
            target="_blank"
            ><%=getJobPostOrder[getOrderIndex].id%></a
          >
        </td>
        <td><span class="btn <%= getJobPostOrder[getOrderIndex].status ? 'btn-success' : 'btn-danger'%>"><%= getJobPostOrder[getOrderIndex].status ? 'Complete' : 'Incomplete' %></span></td>
        <td>$<%= getJobPostOrder[getOrderIndex].request.offerPrice.toFixed(2) %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <% } %>
</div>
